// ----------------------------------------------------------------------------
// Widget-jenkins-jobs styles
// ----------------------------------------------------------------------------
$success-color: #96bf48;
$progress-color: grey;
$failed-color: #C52846;
$notbuilt-color: #333;

.widget-jenkins-jobs {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;

  .title {
    margin-bottom: 20px;
  }

  .job-list {
      list-style: none;
      padding-left: 0;
//    margin: 0 20px;
  }

  .job {
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 22px;
    height: 340px;
  }

  .build-status{
    padding-top: 80px;
    color: #fff;     
    text-align: center;
    font-size: 80px;
    display: block;
  }

  .build-info {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    text-align: center;
    display: block;
  }

  .job-name {
    display: block;
    background: {
      repeat: no-repeat;
      position: 0 4px;
    };
    padding-left: 28px;
    font-size:5em;
  }

  .job[data-health="health-00to19"] .job-name {
    background-image: url(/assets/weather/health-00to19.png);
  }

  .job[data-health="health-20to39"] .job-name {
    background-image: url(/assets/weather/health-20to39.png);
  }

  .job[data-health="health-40to59"] .job-name {
    background-image: url(/assets/weather/health-40to59.png);
  }    

  .job[data-health="health-60to79"] .job-name {
    background-image: url(/assets/weather/health-60to79.png);
  }

  .job[data-health="health-80plus"] .job-name {
    background-image: url(/assets/weather/health-80plus.png);
  }

  .job[data-state="blue"] {
    background-color: $success-color;
  }

  .job[data-state="red"] {
    background-color: $failed-color;
  }

  .job[data-state="grey"] {
    background-color: $progress-color;
  }

  .job[data-state="notbuilt"] {
    background-color: $notbuilt-color;
    .job-name {
      padding-left: 0 !important;
    }
  }
}

.widget-jenkins-jobs[data-cols="4"] {
  .job {
//    margin-bottom: 1%;
//    margin-left: 1%;
    width: 23.75%;
  }

  .job:nth-child(4n + 1) {
    clear: left;
  }
}

.widget-jenkins-jobs[data-cols="5"] {
  .job {
    margin-bottom: 1%;
    margin-left: 1%;
    width: 18.8%;
  }

  .job:nth-child(5n + 1) {
    clear: left;
  }
}

.widget-jenkins-jobs[data-cols="6"] {
  .job {
    margin-bottom: 1%;
    margin-left: 1%;
    width: 15.5%;
  }

  .job:nth-child(6n + 1) {
    clear: left;
  }
}

.widget-jenkins-jobs[data-cols="7"] {
  .job {
    margin-bottom: 1%;
    margin-left: 1%;
    width: 13.14285%;
  }

  .job:nth-child(7n + 1) {
    clear: left;
  }
}

.widget-jenkins-jobs[data-cols="8"] {
  .job {
  }

  .job:nth-child(8n + 1) {
    clear: left;
  }
}
