<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
    <div data-id="takeover" data-view="Takeover"></div>
    <div data-id="image_takeover" data-view="TakeoverImage"></div>
    
    <ul>

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="alpha" data-view="Countdown" data-title="Alpha" data-end="9-July-2014 13:00:00"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="beta" data-view="Countdown" data-title="Beta" data-end="14-July-2014 13:00:00"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="live" data-view="Countdown" data-title="Go Live" data-end="18-Aug-2014 13:00:00"></div>
        </li>
        
        <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
          <div data-id="jenkins_jobs" data-view="Jenkins_Jobs" data-title="JenkinsCI Status"></div>
        </li>
        
    </ul>
</div>
